* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}

body {
    padding-top: 40px;
    max-width: 700px;
    margin: 0 auto;
  }

  .resultStyle {
      border: 1px solid lightgrey;
      padding: 20px;
      margin-bottom: 10px;
  }